$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 15px;

$text-color: #333;

$jumbotron-padding: 0;

// navbar
$navbar-height: 110px;
$navbar-border-radius: 0;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: $text-color;
$navbar-padding-vertical: 15px;
$navbar-margin-bottom: 0;

$nav-link-hover-bg: transparent;

$dropdown-link-hover-bg: transparent;
