$brand-primary: #0072aa;

$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.6;

$headings-font-weight: 300;
$headings-color: $brand-primary;

$text-color: #333;

$jumbotron-padding: 0;

// navbar
$navbar-height: 110px;
$navbar-border-radius: 0;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: $text-color;
$navbar-padding-vertical: 15px;
$navbar-margin-bottom: 0;

$nav-link-hover-bg: transparent;

$dropdown-link-hover-bg: transparent;


// custom
$content-slider-bg: rgba($brand-primary, 0.5);